[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
pylint = "*"
pycodestyle = "*"
pytest = "*"
pytest-cache = "*"
"pytest-pep8" = "*"
flask = "*"
coverage = "*"
coveralls = "*"
gunicorn = "*"
python-dotenv = "*"
"psycopg2" = "*"
setuptools = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.6"
